<% provide(:title, 'Sports | AllPlay') %>
<div class="about row align-center">
  <div class="small-12 medium-6 large-4">
    <div class="text-center">
      <i class="fa fa-dribbble fa-4x fa-spin" id="bigPin" aria-hidden="true"></i>
    </div>

    <h2>About AllPlay:</h2>
    <p>An App seeks to create activity around the College Station area by providing a platform to connect and create sporting events. View our project on <a href="https://github.com/allplayapp1">GitHub</a></p>

    <h4>Created by:</h4>
    <ul id="developersSection">
      <p class="developers">Fan Liu </br><a href="https://github.com/Fanll123"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <p class="developers">Haoyu Wang </br><a href="https://github.com/Fubuki-Poi"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <p class="developers">Jianan Liu </br><a href="https://github.com/jiananliu22"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <p class="developers">Qiancheng Liu </br><a href="https://github.com/futurestudy"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <p class="developers">Yan Yang </br><a href="https://github.com/yangysheep"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
    </ul>
   <%# <h4>Technologies used:</h4>%>
   <%# <ul id="technologiesSection">
      <li class="technologies"><a href="https://www.ruby-lang.org/">Ruby 2.3</a><li>
      <li class="technologies"><a href="http://rubyonrails.org/">Rails 5.0</a></li>
      <li class="technologies"><a href="http://www.postgresql.org/">PostgreSQL 9.5</a></li>
      <li class="technologies"><a href="http://foundation.zurb.com/.com/">Foundation</a></li>
      <li class="technologies"><a href="http://sass-lang.com/">SASS 3.4</a></li>
      <li class="technologies"><a href="http://fontawesome.io/">Font Awesome</a></li>
    </ul>%>
    </br>
  </div>
</div>
<%# navigation styled for Foundation 6 %>